/* -----------------------------
---------------Fonts------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


/* Main  */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


/* ----------------------------------First Section Start--------------------------------  */
.first-section {
    background: #161616;
    border-radius: 30px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 120px;
    margin-bottom: 150px;
}

.info {
    display: flex;
}

.text-info {
    width: 50%;
    margin-left: 10%;
    margin-top: 5%;
}

.text-info h1 {
    font-weight: 700;
    font-size: 70px;
    color: white;
    margin-bottom: 20px;
    line-height: 80px;
}

.text-info p {
    font-weight: 400;
    font-size: 16px;
    color: white;
}

.text-info button {
    padding: 16px 30px;
    border: none;
    background: #DD0000;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 110px;
}

.watch-live {
    display: flex;
    align-items: center;
    gap: 10px;
}

.watch-live a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 20px;
}

.fa-chevron-right {
    color: white;
}

.first-image {
    width: 50%;
}

.first-image img {
    width: 95%;
    margin-right: 5%;
}

/* -----------------------------------First Section End-----------------------------  */
/* -----------------------------------Second Section Start-----------------------------  */
.second-section {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 130px;
}

.aside-nav {
    width: 20%;
}

.match-nav-box {
    width: 320px;
    height: 320px;
    background: #161616;
    border-radius: 10px;
}

.match-nav-box button {
    border: none;
    width: 280px;
    height: 60px;
    border-radius: 10px;
    margin: 23px 18px;
    background: white;
    font-weight: 600;
    font-size: 20px;
}

#red {
    background: red;
    color: white;
}

.live-match-lists {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.live-match {
    width: 312px;
    height: 362px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.live-match button {
    width: 100px;
    height: 30px;
    border: 1px solid #161616;
    border-radius: 5px;
    background: white;
    font-weight: 600;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 20px;
}

.live-match h3 {
    font-weight: 600;
    font-size: 18px;
    margin-left: 20px;
}

.live-match .flex {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #161616;
    margin-left: 10px;
    font-weight: 400px;
    height: 20px;
}

/* -----------------------------------Second Section End-----------------------------  */
/* -----------------------------------Footer Section Start-----------------------------  */

/* -----------------------------------Footer Section End-----------------------------  */